/* body {
  margin: 75px;
  background-color: #424141;
} */

/* nav ul {
    display: flex;
    list-style: none;
    background-color: #0f0d0d;
    padding: 0.5rem 1rem;
    margin: 0;
}

nav ul li {
    margin-right: 1.5rem;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
    margin: 0 10px;
}

nav ul li:hover {
    color: #0b1f47;
    background-color: #dfdfdf;
    padding: 0 8px;
}

nav ul li.active {
    font-weight: bold;
    border-bottom: 2px solid #ffeb3b;
} */


